.container {
  display: block;
  width: 99%;
  margin: auto;
}
.full {
  display: block;
  width: 100%;
}
.half {
  width: 100%;
}
div {
  padding:0;
  margin:0;
}
p {
margin:2 0 2 0;
}
body {
    background-color: #000;
    color: green;
    height: 100%;
    margin: 0;
    width: 100%;
}
html {
    height: 100%;
    width: 100%;
    font-family: "Lucida Console";
    font-size: 22px;
}
